<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="../../../css/style.css">

<head>
    <meta charset="UTF-8">
    <title></title>

</head>
<body>

<form class="example-form">

  <div class="form-title">
    <h4 style="color:#fafaff;">View Draft :</h4>
  </div>
<div class="form-group">

  <div>
    <table>
      <tr>
        <th>Name</th>
        <th>Owner</th>
        <th>Action</th>
      </tr>
    </table>
    <table>
      <div class="round_content" *ngFor="let account of data">
        <tr>
          <td class="account_fullname">
            {{account.title}}
          </td>
          <td class="account_status">{{account.owner}}</td>
          <td class = account_btn>

            <div class="create_btn"><a (click)="editdraft(account._id)">Edit</a></div>
            <div class="create_btn"><a (click)="DeleteDraft(account._id,account.name)">Delete</a></div>
            <div class="create_btn"><a (click)="showDialog = !showDialog" class="btn">Transfer</a></div>
            <div class="create_btn"><a (click)="Approve(account._id)" >Approve</a></div>
          </td>
        </tr>
        <Transfer [(visible)]="showDialog">
          <div class="form-title" style="width: 83%;margin-top:30px">
            <h4 style="color:#fafaff;width: 100%">Transfer :</h4>
          </div>

          <select name="selector1" id="selector1" class="form-control1" [(ngModel)]="selector1" >
            <option *ngFor="let draft of data">{{draft.owner}}</option>
          </select>
          <div class="create_btn" style="text-align:center;margin-left: 37%;margin-top:10px"><a (click)="save(account._id)">Save</a></div>
        </Transfer>
        <!--<td style="width: 50px">-->
        <!--<div>true</div>-->
        <!--</td>-->


      </div>
    </table>
  </div>
</div>
</form>
</body>
</html>
